<html>
<body>

    <form method="post">
        <h1>Add City Record</h1>
        <table>
            <tr>
                <td>City Name</td>
                <td> <input type="text" placeholder="Enter City" name="city_name" value="{{city_array.city_name}}"></td>
            </tr>
            <tr>
                <td>State</td>
                            <td> <input type="text"  name="_state" 
                value="{{city_array._state}}" required> </td>
        </tr>
            </tr>
           
            <tr>
                <td><input type="submit"></td>
                <td><input type="reset"></td>
            </tr>
        </table>
    </form>
</body>
</html>