<!DOCTYPE html>
<html>
<style>
    .ab {
        width: 40%;
        margin: auto;
    }

    h3 {
        margin-left: 600px;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
</style>

<body>

    <h3>Using CSS to style an HTML Form</h3>

    <div class="ab">
        <form method="POST">
            <label for="fname">Enter Student Name</label>
            <input type="text" id="fname" name="text1" placeholder="Your name..">

            <label for="lname">Enter Your Standard </label>
            <input type="text" id="lname" name="text2" placeholder="Your Standard 10std..12std..">

            <label for="fname">Enter Mathematics Mark</label>
            <input type="text" id="fname" name="text3" placeholder="Enter Mathematics Mark..">

            <label for="fname">Enter English  Mark</label>
            <input type="text" id="fname" name="text4" placeholder="Enter English  Mark..">

            <label for="fname">Enter Chemistry Mark</label>
            <input type="text" id="fname" name="text5" placeholder="Enter Chemistry Mark..">

            <label for="fname">Enter Physics Mark</label>
            <input type="text" id="fname" name="text6" placeholder="Enter Physics Mark..">

            <label for="fname">Enter Computer Mark</label>
            <input type="text" id="fname" name="text7" placeholder="Enter Computer Mark..">
    
             <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>