<style>
  #btn{
    margin-left: 110px;

  }
</style>
<body class="hold-transition sidebar-mini layout-fixed" id="bg">
<div class="wrapper">

  <div class="register-box my-5  " style="margin: auto;">
    <div class="register-logo">
      <a href="#"><b>Change Password</b></a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Change Password </p>
        
  
        <form method="post">
          <div class="input-group mb-3">
            <input type="text" name="password" class="form-control" placeholder="Enter Old Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="password" name="newpass" class="form-control" placeholder="Enter New Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
            <div class="input-group mb-3">
            <input type="password" name="repass" class="form-control" placeholder="Enter Re-Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
      
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" id="btn" class="btn btn-primary btn-block">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  
</body>
