
<body class="hold-transition sidebar-mini layout-fixed" id="bg">
<div class="wrapper">




  <div class="register-box my-5  " style="margin: auto;">
    <div class="register-logo">
      <a href="index.html"><b>Forgot Password</b></a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Forgot Password </p>
        
  
        <form method="post">
         
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
                
          
            <!-- /.col -->
          
               
              <button type="submit" class="btn btn-primary btn-block">Register</button>
           
            <!-- /.col -->
          </div>
        </form>
  
       
  
        
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  
</body>
