
<body class="hold-transition sidebar-mini layout-fixed" id="bg">
<div class="wrapper">




  <div class="register-box my-5  " style="margin: auto;">
    <div class="register-logo">
      <a href="index.html"><b>Forgot Password</b></a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Forgot Password </p>
        
  
        <form method="post">
         
          <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
                
          
            <!-- /.col -->
          
               
              <button type="submit" class="btn btn-primary btn-block">Register</button>
           
            <!-- /.col -->
          </div>
        </form>
  
        <div class="social-auth-links text-center ">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i>
            Sign up using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i>
            Sign up using Google+
          </a>
        </div>
  
        <a href="login.html" class="text-center">I already have a membership</a>
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  
</body>
