<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jquery Demo</title>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstarp.min.js"></script>
    <script src="/javascripts/jquery.js"></script>
</head>
<body>
<nav>
  <a href="/form">Form Event In Jquery</a> |
  <a href="/mouse">Mouse Event In Jquery</a> |
  <a href="/form">Mouse Event In Jquery</a> |

</nav>
    
</body>
</html>