{{>header}}

{{>sidebar}}

<style>
    #products {
        margin-top: 100px;
        width: 70%;
        margin-left: 250px;
    }
</style>

<div>

    <table id="products" class="table table-bordered table-striped text-center">

        <thead>
            <tr>
                <th>Index</th>
                <th>State Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each dbdata}}
            <tr>
                <td>{{@index}}</td>
                <td>{{statename}}</td>


                <th class="text-center"><a href="/admin/state/edit/{{_id}}" class="btn btn-primary ">Edit</a></th>
                <th class="text-center"><a href="/admin/state/delete/{{_id}}" class="btn btn-danger">Delete</a></th>
            </tr>
            {{/each}}

        </tbody>
        <tfoot>
            <tr>
                <th>Index</th>
                <th>State Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </tfoot>
    </table>


</div>



{{>footer}}