<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="POST" >
     Enter Name <input type="text" value="{{editdata.name}}" name="name"> <br> <br>
     Enter Username    <input type="text" value="{{editdata.username}}" name="Username"> <br> <br>
     Enter Email   <input type="text" value="{{editdata.email}}" name="email"> <br> <br>
     Enter Password   <input type="text" value="{{editdata.password}}" name="password"> <br> <br>
        <input type="submit">
    </form>
</body>
</html>