<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="/javascripts/Btn-Exporting.js"></script>
</head>
<body>

<h2>Selection Dropdown</h2>

 <select class="form-select" name="chartBY" id="barchart">
          <option selected value="hourly">
            Hourly
          </option>
          <option value="daily">Daily</option>
          <option value="monthly">Monthly</option>
          <option value="yearly">Yearly</option>
        </select>
<div id="pieChart"></div>
<div id="highChart"></div>

</body>
</html>

<script>
  $(document).ready(function() {
      $.ajax({
                url: '/pieChart' ,
                method: 'GET',
                success: function(res) {
            var chart = {
               plotBackgroundColor: null,
               plotBorderWidth: null,
               plotShadow: false
            };
            var title = {
               text: 'Browser market shares at a specific website, 2014'   
            };
            var tooltip = {
               pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            };
            var userData = [];
            for(let user of res.users ){
               userData.push({name:user.name, y:user.totalPost,selected:true, sliced:true})
            }
            var series = [{
               type: 'pie',
               name: 'PostPer Users',
               data: userData
            }];
            let exporting = {
            buttons: {
              contextButton: {
              symbol: null,
              menuItems: null,
              text: "Download",
              onclick: function () {
              this.exportChart({
                  type: "image/png",
                });
                    },
                  },
                },
              };
            var json = {};  
            json.exporting = exporting; 
            json.chart = chart; 
            json.title = title;     
            json.tooltip = tooltip;  
            json.series = series;
            $('#pieChart').highcharts(json);  
      }
    });

function showChart(chartBY){
  console.log(chartBY)
    $.ajax({
                url: '/highChart/'+chartBY ,
                method: 'GET',
                success: function(res) {
                  console.log(res.users)
                   var chart = {
               type: 'column'
            };
            let title = {
               text: 'Monthly Average Rainfall'   
            };
            let subtitle = {
               text: 'Source: WorldClimate.com'  
            };
            let xAxis = {
               categories: ['Jan','Feb','Mar','Apr','May','Jun','Jul',
                  'Aug','Sep','Oct','Nov','Dec'],
               crosshair: true
            };
            let yAxis = {
               min: 0,
               title: {
                  text: 'Rainfall (mm)'         
               }      
            };
            let tooltip = {
               headerFormat: '<span style = "font-size:10px">{point.key}</span><table>',
               pointFormat: '<tr><td style = "color:{series.color};padding:0">{series.name}: </td>' +
                  '<td style = "padding:0"><b>{point.y:.1f} mm</b></td></tr>',
               footerFormat: '</table>',
               shared: true,
               useHTML: true
            };
            let plotOptions = {
               column: {
                  pointPadding: 0.2,
                  borderWidth: 0
               }
            };  
            let credits = {
               enabled: false
            };
            let series= [
               {
                  name: 'Tokyo',
                  data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6,
                     148.5, 216.4, 194.1, 95.6, 54.4]
               }
               
            ];     
         
            let json = {};   
            json.chart = chart; 
            json.title = title;   
            json.subtitle = subtitle; 
            json.tooltip = tooltip;
            json.xAxis = xAxis;
            json.yAxis = yAxis;  
            json.series = series;
            json.plotOptions = plotOptions;  
            json.credits = credits;
            $('#highChart').highcharts(json);
  
                }

   });
}

$("#barchart").on("change", function(){
   showChart($(this).val());
  })
   showChart("hourly");

});

</script>

