<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BirthDat Calculate</title>
    <style>
        #one{
            background-color: beige;
            height: 300px;
            width: 300px;
        }
              #secnd{
                  background-color: rgb(235, 219, 196);
            height: 150px;
            width: 300px;
        }
    </style>
</head>
<body>
    
    <a href="./date">Dates</a>

    <div id="one"> <div id="secnd"></div></div>
</body>

    <script>
        document.addEventListener('click',function(e){
                console.log(e)
                if (e.target.tagName.toUpperCase() == 'BODY') {
                    alert('This is a Body')
                }
                if(e.srcElement.id == "one"){
                    alert('This is a One Div')
                }
                    if(e.srcElement.id == "secnd"){
                    alert('This is a secnd Div')
                }
        })

    </script>

</html>