body {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  padding: 30px 0px 30px 0px;
}
table {
  margin: auto;
}
button {
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}
.div1 {
  border: 1px solid black;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
}
.txt{
    margin-left: 50px;
    width: 220px;
}
.txt1{
    margin-left: 13px;
    width: 220px;
}
.txt2{
    margin-left: 85px;
    width: 220px;
}
.txt3{
    margin-left: 80px;
    width: 220px;
}
.txt4{
    margin-left: 95px;
    width: 220px;
}
.txt5{
    margin-left: 30px;
    height: 45px;
    width: 220px;
}

#fieldset {
    margin-left: 450px;
    margin-right: 400px;
  }

#btn{
      padding: 8px 35px;
      border: none;
      background-color: bisque;
      margin-left: 250px;
    
  }
  #bg{
      
      background-color: #FEF7DC;
    
  }
  #tbldiv{
      margin-left: 250px;
      margin-right: 250px;
  }