<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>

</head>

<body>
    <h1>Home Page</h1>
    <a href="/api/logout">Logout</a>
    <a href="/user/list">User List</a>


</body>

</html>