<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/js/socket.io.js"></script>
    <link rel='stylesheet' href="/css/bootstrap.min.css">
    <script src="/js/jqueryCDN-3.6.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/jquery.validate.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
  </head>
<body>
    {{{body}}}
</body>
</html>
