<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col"><br>
            <h2 class="text-center">Login </h2><br>
            <form class="form-control" id="loginForm"> <br>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email Or Mobile Number" required> <br>

                <input type="password" name="password" class="form-control" id="password"
                    placeholder="Enter Your Password" required>  <br>
                <input type="button" class="login-btn btn btn-primary" value="Submit">
            </form>
        </div>
        <div class="col"> </div>
    </div>
</div>

<script src="/js/ajaxLogin.js"></script>