{{>header}}
{{>sidebar}}

<div class="wrapper">




  <div class="register-box my-5  " style="margin: auto;">
    <div class="register-logo">
      <a href="index.html"><b>Add Category</b></a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
       
        
  
        <form method="post" enctype="multipart/form-data">
 
          <div class="input-group mb-3">
            <input type="text" name="productname" class="form-control" placeholder="Enter Product Name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
             <div class="input-group mb-3">
            <input type="text" name="productdetails" class="form-control" placeholder="Enter Product Details">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
             <div class="input-group mb-3">
            <input type="text" name="productprice" class="form-control" placeholder="Enter Product Price">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
                 <div class="input-group mb-3">
            <input type="file" name="img" class="form-control">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

              
                            <select id="inputStatus" class="form-control custom-select" name="_subcategory">
                                <option selected disabled>Select one</option>
                                {{#each subcategory}}

                                <option value={{_id}}>{{subcategoryname}}</option>

                                {{/each}}

                            </select>
          
      
          <div class="row">
            <div class="col-8">
              
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
        
  
       
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>

{{>footer}}