<style>
    table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

</style>

<h1>Display</h1>
{{mycountry.length}} Records Found

<table border='1'>
    <tr>
        <th>ID</th>
            <th>Country Name</th>
            
            <th>Action</th>
    </tr>

{{#each mycountry}}
    <tr>
    <td class="counterCell"></td>
    <td>{{c_name}}</td>

    
    <td>
        <a href="/editcountry/{{_id}}">Edit</a> |
        <a href="/deletec/{{_id}}" onclick="return confirm('Are you sure?')">Delete</a>

    </td>
    </tr>
{{/each}}


</table>