<!DOCTYPE html>
<html lang="en">
<head>
     <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />

  <!-- fonts style -->
  <link href="/stylesheets/fontstyles.css">
  
  <!--owl slider stylesheet -->
  <link href="/stylesheets/slider.css">
  
  <!-- font awesome style -->
  <link href="/stylesheets/fontOne.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <!-- responsive style -->

  <link href="/stylesheets/responsive.css" rel="stylesheet" />
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>

<!-- jQery -->
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <!-- popper js -->
  <script src="/javascripts/popper.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="/javascripts/carousel.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="/javascripts/custom.js"></script>
  <!-- Google Map -->
  <script src="/javascripts/googlemap.js">
  </script>
</html>