<html>
    <head>

    </head>
    <body>
        <form method="post">
        <input type="text" name="email" placeholder="Enter Email..">
        <input type="password" name="password" placeholder="Enter password..">
        <input type="submit">
        </form>
    </body>
</html>