<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coustom Helper in Handlebars</title>
</head>
<body>
    <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>{{#sum 20 30}} {{/sum}}</h1> 

<h2><p>reverse the word "ABCD": {{reverseWord "ABCD"}}.</p></h2>


</body>
</html>