<div class="container">
  <div class="row">
    <div class="col">
    
    </div>
    <div class="col" >
        <fieldset>
        <form method="POST" id="top">
            <h1>SignUp </h1>
      <input type="text" name="name" class="form-control" placeholder="Enter Name"> <br>
      <input type="email" name="email" class="form-control" placeholder="Enter Email"> <br>
      <input type="text" name="address" class="form-control" placeholder="Enter Address"> <br>
      <input type="password" name="password" class="form-control" placeholder="Enter Password"> <br>
        <input type="submit" class="btn btn-primary">
      </form>
      </fieldset>
    </div>
    <div class="col">
  
    </div>
  </div>
</div>