<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-In</title>
</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Sign In Form</h2> 
                     <form method="POST">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password">
                                </div>
                            </div>
                        </div>
                       
                       <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                   <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button> <br> <br>
                                    <a href="/SignUp"> Don't Have a Account . . ? </a> <br> <br>
                                    <a href="/mailer"> Forgot Your Password . . ? </a>
                                </div>
                            </div>
                           
                                            
                           
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>